<h1>Cocktail</h1>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<h3><%= @cocktail.name %></h3>
<ul>
  <% @cocktail.doses.each do |drink| %>
    <li><%= drink.ingredient.name%> <%= drink.description%> <%= link_to "Delete", dose_path(drink), method: :delete %> </li>
  <% end %>
</ul>
<%= render 'doses/new', cocktail: @cocktail, dose: @dose %>
<h4><%= link_to "Return to cocktails", cocktails_path %></h4>



